html {
    /*color/gradient doesn't go all the way to the bottom*/
    background: linear-gradient(#132d66, #9198e5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    max-width: 800px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileHeader {
    display: none;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.hoverable-image {
    width: 40%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border: 5px solid white;
    /* the border radius is streched oddly with the shape of the image, and for some reason you can see in between the border and the image */
    border-radius: 5%;
    
}

#roshi {
    transform-origin: left;
}

#nextProject {
    transform-origin: right;
    background-color: rgb(255, 255, 181);
    color: #132d66;
    font-size: 2rem;
    text-align: center;
}

#icons {
    text-align: center;
}

i {
    font-size: 4rem;
}

#aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0% 5%;
}

#aboutMeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutMeImg {
    display: flex;
    justify-content: center;
}

#aboutMe img{
    width: 70%;
    height: auto;
    padding: 10%;

}

.img2 {
    display: none;
}

.aboutMeContact {
    font-size: 1.5rem;
}

#contact {
    align-self: flex-start;
    margin-left: 5%;
}

@media only screen and (max-width: 740px) {
    html {
        font-size: 2rem;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desktopHeader {
        display: none;
    }

    .mobileHeader {
        display: block;
        margin: 0 0 1% 0;
    }
    
    .project-container {
        flex-direction: column;
        align-items: center;
        /* why is it staying horizontal? */
    }

    .hoverable-image {
        width: 80%;
        margin-bottom: 2%;
    }
    
    #aboutMe {
        grid-template-columns: 1fr;
        padding: 0;
    }

    #aboutMeText{
        font-size: 1rem;
    }
    
    .img1 {
        display: none;
    }

    .img2 {
        display: block;
    }
}