.project-container {
    display: flex;
}

.hoverable-image {
    width: 40%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

/*#roshi {
    z-index: 2;
}

#tagueMusic {
    z-index: 1;
}*/

/*.hoverable-image:hover {
    transform: scale(1.2); /* You can adjust the scale factor as needed */
